:root {
  --box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
  --bg-color: rgb(40, 47, 97);
}

body {
  background-color: rgb(11, 26, 51);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* Navbar Section */

.logo{
  color: rgb(129, 129, 76);
  /* margin-top: 10px; */
  margin-left: 20px;
  /* margin-bottom: 20px; */
  padding: 10px;
  text-align: center;
  justify-content: center;
  font-weight: bolder;
  border: 2px solid yellow;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow:2px 2px 4px 4px rgba(101, 175, 10, 0.5); ;
  font-size:larger;
  background-color: black;
}

.nav_bar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgb(20, 20, 47);

}

.nav_bar .nav_items {
  padding: 16px;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav_bar .nav_items:hover {
  border-bottom: 3px solid yellow;
}


/* Home Section */

.home {
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .left {
  background-color: var(--bg-color);
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.home .right .img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  /* height: 350px;
  width: 350px; */
}

.home .right .img img {
  margin-top: 250px;
  height: 270px;
  width: 270px;
  border: 5px solid yellow;
  border-radius: 100%;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.home .right .about{
  margin-top: 100px;
  width: 450px;
  height: 90px;

}

.home .right .about p{
  font-size: large;
  font-weight: bold;

}

@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}

/* Education Section */

.ex {
  margin-top:300px ;
  width: 900px;
}

.ex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  margin: 200px;
  padding: 30px;
  width: 600px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

/* Skills Section */

.skills {
  margin-top:110px ;
  width: 900px;
}

.skills .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 800px; */
  margin: auto;
  /* background-color: yellow; */
}

.skills .items .item {
  width: calc(33.33%);
  background-color: black;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.skills .items .item img {
  width: 70px;
}

/* Projects */

.projects{
  margin-top: 100px;
  margin-left: 150px;
}


/* Contact */

.contact{
  margin-top: 100px;
}


.contact-form{
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 400px;
  /* border: 2px solid yellow; */
}

.contact-form .left{
  background-color: var(--bg-color);
  width: 620px;
  height: 570px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
}

.contact h2 {
  margin-right: 70px;
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}



.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 5px ;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}



.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  /* padding: 14px 48px; */
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
/* .contact form button:hover {
  color: #fff;
} */
.contact form button::before {
  content: "";
  background: rgb(220, 220, 151);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/* Footer */
.footer{
  margin-top: 200px;
}


.footer-icon {
  background-color: rgb(20, 20, 47);  
  /* position: relative; */
  width: 100%;
  
  /* bottom: 0; */
  /* height: 100px;  */
   margin-top: 120px;
  
  display: flex;
  justify-content: center;
  
}

.footer-icon .items {
  background-color: black;
  margin: 10px;
  margin-top: 30px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid yellow;
}

.footer-icon .items:hover {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}

.footer-icon p{
  justify-content: center;
  align-items: center;
  margin-left: 610px;
  margin-top: 50px;
 
}

.footer h5{
 padding-top: 50px;
  margin-left: 700px;
}

.footer-icon .items .icons {
  font-size: 1.5rem;
}

